<% #provide(:title, "Home") %> <!--コメントアウトする際は各言語のファイル形式に沿うこと-->
<!--各view側にprovideでタグ、ページタイトル定義-->

<h1>Home</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
