<% #provide(:title, "Home") %>
<!--同じ行に「#」と「<!->」みたいな違うタイプのコメアウを使うと構文エラーになる-->
<!--コメントアウトする際は各言語のファイル形式に沿うこと-->
<!--各view側にprovideでタグ、ページタイトル定義-->

<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<!--<%= link_to image_tag("kitten.jpg", alt: "cat"),
            'http://rubyonrails.org/' %>-->

</p>